@charset "utf-8";

@font-face {
    font-family: 'pretendard';
    src: url('font/Pretendard-Bold.eot');
    src: url('font/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Bold.woff2') format('woff2'),
        url('font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/Pretendard-Regular.eot');
    src: url('font/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Regular.woff2') format('woff2'),
        url('font/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('font/PlayfairDisplay-Bold.eot');
    src: url('font/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('font/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('font/PlayfairDisplay-Regular.eot');
    src: url('font/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('font/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
    font-family: 'pretendard';
}

section {
    margin-top: 160px;
}

/* header */
.header {
    font-weight: normal;
    height: 110px;
    background-color: #ffffff80;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 9;
}
.header .inner {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header .inner .logo {
    width: 160px;
    height: 40px;
}
.header .inner .logo a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header .inner .nav {
    display: flex;
    justify-content: space-between;
}
.header .inner .nav .gnb {
    display: flex;
    justify-content: space-between;
}
.header .inner .nav .gnb > li > .depth01 {
    line-height: 110px;
    font-size: 18px;
    margin-right: 30px;
}
.header .inner .nav .gnb .depth02 {
/*     width: 1440px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    padding: 50px 100px; */
    display: none;
}

/* hover */
.header .inner .nav .gnb > li > .depth01:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #193028;
    color: #3F8E80;
    font-weight: bold;
}

/* right */
.header .inner .nav .right_nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header .inner .nav .right_nav .right_btn div > a {
    border: 1px solid #333;
    border-radius: 30px;
    color: #333;
    font-size: 16px;

    width: 104px;
    height: 43px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.header .inner .nav .right_nav .right_btn div > a:nth-child(1) {
    margin-left: 179px;
    color: #fff;
    background-color: #193028;
    margin-right: 15px;
}
.header .inner .nav .right_nav .right_btn div > a:nth-child(2) {
    margin-right: 30px;
}
/* hover */
.header .inner .nav .right_nav .right_btn div > a:nth-child(1):hover {
    background-color: #3F8E80;
    border: 1px solid #3F8E80;
}
.header .inner .nav .right_nav .right_btn div > a:nth-child(2):hover {
    background-color: #333;
    color: #fff;
}

.header .inner .nav .right_nav .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .nav .right_nav .icon > a > figure {
    width: 35px;
    height: 35px;
    margin-left: 15px;
}
.header .inner .nav .right_nav .icon > a:nth-child(1) > figure {
    margin: 0;
}
.header .inner .nav .right_nav .icon > a:nth-child(2) > figure {
    width: 30px;
    height: 30px;
}
.header .inner .nav .right_nav .icon > a > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main */
.main .main_visual .main_inner {
    width: 100%;
    height: 810px;
}
.main .main_visual .main_inner .visual_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main .main_visual .main_inner .visual_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .main_visual .main_inner .visual_wrap {
    width: 1194px;
    margin: 0 auto;
    position: absolute;
    
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .main_visual .main_inner .visual_wrap .visual_title {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
}
.main .main_visual .main_inner .visual_wrap .visual_title strong {
    color: #193028;
}
.main .main_visual .main_inner .visual_wrap .text_wrap {
    display: flex;
    justify-content: space-between;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text::before {
    content: '';
    width: 1px;
    height: 64px;
    background-color: #333;

    position: absolute;
    top: 0;
    right: 0;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text {
    width: 220px;
    position: relative;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text04 {
width: 359px;
position: relative;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text04::before {
    content: '';
    width: 1px;
    height: 64px;
    background-color: #333;

    position: absolute;
    top: 0;
    right: 0;
}
.main .main_visual .main_inner .visual_wrap .text_wrap li > p {
    font-size: 14px;
    font-family: 'Playfair Display';
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text01 {
    font-size: 20px;
    margin-right: 10px;
}
.main .main_visual .main_inner .visual_wrap .text_wrap > ul:nth-child(1) .text01 {
    display: flex;
    justify-content: space-between;
}

.main .main_visual .main_inner .visual_wrap .text_wrap .text03 {
    width: 309px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .text05 {
    padding-bottom: 15px;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .visual_btn .btn {
    font-family: 'Playfair Display';
    font-weight: bold;
    width: 210px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 30px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    transition: 0.7s;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .visual_btn .btn:hover {
    background-color: #193028;
    color: #fff;
    transition: 0.7s;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .visual_btn .code a {
    margin-top: 15px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: end;
    line-height: 20px;
}
.main .main_visual .main_inner .visual_wrap .text_wrap .visual_btn .code img {
    width: 20px;
    height: 100%;
    object-fit: cover;
}
/* page */
.main .main_visual .main_page {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    color: #fff;
}
.main .main_visual .main_page li::before {
    content: '';
    width: 87px;
    height: 2px;
    color: #fff;
    margin-bottom: 15px;

}
.main .main_visual .main_page li:nth-child(2)::before {
    content: '';
    height: 1px;
}

/* package */
.main h2 {
    font-family: 'Playfair Display';
    font-size: 48px;
    margin-bottom: 30px;
}
.main .package .main_inner {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.main .package .main_inner .title .title_menu {
    margin: 0 auto;
    width: 168px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main .package .main_inner .title .title_menu li {
    font-size: 25px;
}
.main .package .main_inner .title .title_menu > li:first-child:hover {
    font-weight: bold;
}
.main .package .main_inner .title .title_menu > li:last-child:hover {
    font-weight: bold;
}
.main .package .main_inner .title .title_menu > li:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}
.main .package .main_inner .view_more {
    height: 100%;
    line-height: 24px;
    
}
.main .package .main_inner .view_more a {
    display: flex;
    justify-content: right;
    margin-top: 26px;
    margin-bottom: 30px;

}
.main .package .main_inner .view_more a img {
    width: 24px;
    height: 24px;
}

/* item */
.main .package .main_inner .item_wrap {
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
}
.main .package .main_inner .item_wrap .item:hover figure img{
    transform: scale(1.15);
    transition: 0.7s;
}
.main .package .main_inner .item_wrap .item a figure { 
    width: 456px;
    height: 260px;
    overflow: hidden;
}
.main .package .main_inner .item_wrap .item a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}
.main .package .main_inner .item_wrap .item a > .text_wrap h3 {
    font-family: 'Playfair Display';
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.main .package .main_inner .item_wrap .item a > .text_wrap p:first-child {
    display: inline-block;
    font-size: 14px;
    background-color: #3F8E80;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.main .package .main_inner .item_wrap .item a > .text_wrap .hashtag {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 30px;
}
.main .package .main_inner .item_wrap .item a > .text_wrap .hashtag li {
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #333;
    margin-right: 15px;
    padding: 5px 15px;
    
}
.main .package .main_inner .item_wrap .item a > .text_wrap .hashtag .rewards {
    background-color: #193028;
    color: #fff;
    border: 1px solid #193028;
}
.main .package .main_inner .item_wrap .item a > .text_wrap p:last-child {
    padding-bottom: 15px;
    border-bottom: 1px solid #959595;
}
.main .package .main_inner .item_wrap .item a > .krw {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    line-height: 33px;
    height: 33px;
}
.main .package .main_inner .item_wrap .item a > .krw b {
    font-size: 28px;
}
.main .package .main_inner .item_wrap .slide_btn {
    width: 1701px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* brand_about */
.main .brand_about {
    width: 100%;
    position: relative;
}
.main .brand_about .main_inner figure {
    width: 100%;
    height: 920px;
}
.main .brand_about .main_inner figure img {
    width: 100%;
    height: 100%;
}
.main .brand_about .main_inner figure::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main .brand_about > .main_inner > .text {
    width: 1194px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}
.main .brand_about > .main_inner > .text p:first-child {
    font-size: 18px;
}
.main .brand_about > .main_inner > .text h4 {
    font-size: 60px;
    font-family: 'Playfair Display';
    color: #193028;
    margin: 15px 0;
}
.main .brand_about > .main_inner > .text p:nth-child(3) {
    font-size: 20px;
    margin-bottom: 80px;
}
.main .brand_about > .main_inner > .text .text02 p {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px;
}
.main .brand_about > .main_inner > .text .text02 strong {
    display: block;
    font-size: 20px;
    margin-bottom: 80px;
    color: #193028;
}
.main .brand_about > .main_inner .view_more {
    font-size: 18px;
    width: 210px;
    height: 60px;
    color: #333;
    border: 1px solid #333;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    transition: 0.7s;
}
.main .brand_about > .main_inner .view_more:hover {
    background-color: #193028;
    color: #fff;
    border: 1px solid #193028;
    transition: 0.7s;
}
.main .brand_about > .main_inner > .text::before {
    content: '';
    width: 1440px;
    height: 660px;
    background-color: #fff;
    opacity: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    backdrop-filter: blur(50px);
}

/* rooms */
.rooms {
    position: relative;
}
.rooms .main_inner {
    margin: 0 auto;
    width: 1440px;
}
.rooms .main_inner .title {
    text-align: center;
}
.rooms .main_inner .title p {
    font-size: 18px;
}
.rooms .main_inner .room_more {
    width: 1440px;
    color: #959595;
    margin: 0 auto;
}
.rooms .main_inner .room_more a {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}
.rooms .main_inner .room_more a > img {
    width: 24px;
    height: 24px;
}
.rooms .main_inner .item {
    display: flex;
    justify-content: space-between;
}
.rooms > .main_inner .item::before {
    content: '';
    background-color: #193028;
    width: 609px;
    height: 610px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.rooms > .main_inner .item .item_image {
    width: 1071px;
    height: 610px;
    position: relative;
}
.rooms > .main_inner > .item .item_image > figure {
    width: 100%;
    height: 100%;
}
.rooms > .main_inner .item .item_image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rooms > .main_inner .item .item_image > div {
    height: 35px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    margin: 15px;
}
.rooms > .main_inner .item .item_image > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rooms > .main_inner .item .text_wrap {
    width: 330px;
    color: #fff;
    align-content: center;
}
.rooms > .main_inner .item .text_wrap > p:first-child {
    font-size: 14px; 
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    font-family: 'Playfair Display';
}
.rooms > .main_inner .item .text_wrap h3 {
    font-size: 34px;
    margin-top: 15px;
    font-family: 'Playfair Display';
}
.rooms > .main_inner .item .text_wrap > .text {
    margin-top: 30px;
    font-size: 18px;
}
.rooms > .main_inner .item .text_wrap div > p {
    font-size: 18px;
    line-height: 1.5;
}
.rooms > .main_inner .item .text_wrap div > p:last-child {
    font-size: 16px;
    opacity: 60%;
    margin-top: 20px;
}
.rooms > .main_inner .view_more {
    margin-top: 80px;
    font-size: 16px;
    width: 165px;
    height: 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 50px;
    text-align: center;
    transition: 0.7s;
}
.rooms > .main_inner .view_more:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #fff;
    transition: 0.7s;
}

/* dining */
.dining {
    position: relative;
}

.main .dining .main_inner .title {
    text-align: center;
    margin-bottom: 80px;
}
.main .dining .main_inner .title p {
    font-size: 18px;
}
.main .dining .main_inner .item_wrap {
    width: 1680px;
    position: relative;
}
.main .dining .main_inner .item_wrap .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .dining .main_inner .item_wrap .item .dining_image {
    width: 1311px;
    height: 610px;

}
.main .dining .main_inner .item_wrap .item .dining_image a > figure {
    width: 100%;
    height: 100%;
}
.main .dining .main_inner .item_wrap .item .dining_image a > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .dining .main_inner .item_wrap .item .text_wrap {
    width: 330px;
}
.main .dining .main_inner .item_wrap .item .text_wrap .text01 {
    font-family: 'Playfair Display';
    margin-bottom: 80px;
}
.main .dining .main_inner .item_wrap .item .text_wrap .text01 h3 {
    font-size: 34px;
    margin-bottom: 10px;
}
.main .dining .main_inner .item_wrap .item .text_wrap .text02 {
    font-size: 18px;
    margin-bottom: 80px;
}
.main .dining .main_inner .item_wrap .item .text_wrap .view_more {
    font-size: 16px;
    width: 165px;
    height: 50px;
    color: #fff;
    background-color: #193028;
    border: 1px solid #193028;
    border-radius: 30px;
    line-height: 50px;
    text-align: center;
    transition: 0.7s;
}
.dining > .main_inner .item_wrap .item .text_wrap > .view_more:hover {
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
    transition: 0.7s;
}
.dining > .main_inner .item_wrap .slide_btn {
    width: 1840px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
}

/* wedding */
.wedding > .main_inner {
    margin: 0 auto;
    position: relative;
}
.wedding > .main_inner .item_wrap .wedding_image {
    width: 100%;
    height: 920px;
    z-index: -1;

}
.wedding > .main_inner .item_wrap .wedding_image::before {
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;
}
.wedding > .main_inner .item_wrap .wedding_image figure {
    width: 100%;
    height: 100%;
}
.wedding > .main_inner .item_wrap .wedding_image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wedding > .main_inner .item_wrap .wedding_wrap {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wedding > .main_inner .item_wrap .wedding_wrap .text_wrap {
    text-align: center;
    color: #fff;
}
.wedding > .main_inner .item_wrap .wedding_wrap .text_wrap p:nth-child(1) {
    font-size: 14px;
    font-family: 'Playfair Display';
    margin-bottom: 15px;
}
.wedding > .main_inner .item_wrap .wedding_wrap .text_wrap h4 {
    font-family: 'Playfair Display';
    font-size: 60px;
    margin-bottom: 15px;
}
.wedding > .main_inner .item_wrap .wedding_wrap .text_wrap p:nth-child(3) {
    font-size: 25px;
    margin-bottom: 30px;
}
.wedding > .main_inner .item_wrap .wedding_wrap .text_wrap p:nth-child(4) {
    font-size: 18px;
    margin-bottom: 80px;
    line-height: 1.5;
}
.wedding > .main_inner .item_wrap .wedding_wrap .btn_wrap {
    display: flex;
    justify-content: center;
}
.wedding > .main_inner .item_wrap .wedding_wrap .btn_wrap .view_more {
    width: 210px;
    height: 60px;
    background-color: #193028;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    margin-right: 30px;
    transition: 0.7s;
}
.wedding > .main_inner .item_wrap .wedding_wrap .btn_wrap .view_more:nth-child(2) {
    margin-right: 0;
}
/* hover */
.wedding > .main_inner .item_wrap .wedding_wrap .btn_wrap > .view_more:hover {
    background-color: #fff;
    color: #333;
    transition: 0.7s;
}

/* location */

.location > .main_inner {
    width: 1440px;
    margin: 0 auto;
}
.location > .main_inner .title {
    margin-bottom: 80px;
}
.location > .main_inner .title p {
    font-size: 18px;
}

.location > .main_inner .item_wrap {
    display: flex;
    justify-content: space-between;
}
.location > .main_inner .item_wrap .left_item .icon_wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    width: 456px;
}
/* .location > .main_inner .item_wrap .left_item .icon_wrap .icon:hover {
    font-weight: bold;
} */
.location > .main_inner .item_wrap .left_item .icon_wrap .icon:hover img:nth-child(1) {
    display: none;
}
.location > .main_inner .item_wrap .left_item .icon_wrap .icon:hover img:nth-child(2) {
    display: block;
}

.location > .main_inner .item_wrap .left_item .icon_wrap .icon a > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.location > .main_inner .item_wrap .left_item .icon_wrap .icon a > img:nth-child(2) {
    display: none;
}
.location > .main_inner .item_wrap .left_item .icon_wrap .icon a > p {
    text-align: center;
    padding-top: 15px;
}


.location > .main_inner .item_wrap .left_item .item_text {
    margin-top: 15px;
}
.location > .main_inner .item_wrap .left_item .item_text > p {
    font-size: 16px;
    margin-bottom: 15px;
}
.location > .main_inner .item_wrap .left_item .item_text ul > li a {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    transition: 0.5s;
    align-items: center;
}

.location > .main_inner .item_wrap .left_item .item_text ul > li:hover {
    font-weight: bold;
    color: #fff;
    background-color: #193028;
    transition: 0.4s;
}

.location > .main_inner .item_wrap .left_item .item_text ul > li a figure {
    width: 50px;
    height: 50px;
}
.location > .main_inner .item_wrap .left_item .item_text ul > li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.location > .main_inner .item_wrap .right_item .item_text {
    width: 948px;
    margin-top: 15px;
}
.location > .main_inner .item_wrap .right_item .item_text strong {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
}
.location > .main_inner .item_wrap .right_item .item_text p {
    line-height: 1.35;
}
.location > .main_inner .item_wrap .right_item .item_text p:nth-child(3) {
    margin-bottom: 10px;
}

.location > .main_inner .address {
    height: 100px;
    background-color: #333;
    position: relative;
    margin-top: 30px;
}
.location > .main_inner .address .text {
    width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 123px;
    transform: translateY(-50%);
}
.location > .main_inner .address .text strong {
    font-size: 34px;
    font-family: 'Playfair Display';
}

/* rewards */

.rewards > .main_inner {
    width: 1440px;
    margin: 0 auto;
}

.rewards > .main_inner .title {
    text-align: center;
    margin-bottom: 80px;
}

.rewards > .main_inner .item_wrap {
    display: flex;
    justify-content: space-between;
}
.rewards > .main_inner .item_wrap .item{
    width: 459px;
    height: 459px;
    border: 1px solid #333;
    border-radius: 50%;
    position: relative;
}

.rewards > .main_inner .item_wrap .item a {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.rewards > .main_inner .item_wrap .item figure {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.rewards > .main_inner .item_wrap .item figure img {
    height: 100%;
    object-fit: cover;
}

.rewards > .main_inner .item_wrap .item a .text {
    text-align: center;
}
.rewards > .main_inner .item_wrap .item a .text strong {
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
}
.rewards > .main_inner .item_wrap .item a .text p {
    margin-top: 10px;
}
.rewards > .main_inner .item_wrap .item a .text p:nth-child(2) {
    font-size: 18px;
}
.rewards > .main_inner .view_more {
    width: 262px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    background-color: #193028;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 80px;
    transition: 0.5s;
}
.rewards > .main_inner .view_more:hover {
    transition: 0.5s;
    background-color: #3F8E80 ;
}

/* FAQ */

.faq > .main_inner {
    margin: 0 auto;
    width: 1440px;
}

.faq > .main_inner .title {
    margin-bottom: 80px;
}

.faq > .main_inner .item_wrap {
    display: flex;
    justify-content: space-between;
}

.faq > .main_inner .item_wrap .item {
    width: 457px;
    border-right: 1px solid #333;
}
.faq > .main_inner .item_wrap .item:last-child {
    border-right: none;
}

.faq > .main_inner .item_wrap .item p {
    font-size: 14px;
    margin-bottom: 30px;
}
.faq > .main_inner .item_wrap .item div {
    margin-top: 45px;
    height: 129px;
}
.faq > .main_inner .item_wrap .item div > strong {
    font-size: 25px;
    margin-bottom: 15px;
    display: block;
}

.faq > .main_inner .item_wrap .item div > p {
    font-size: 18px;
}

.faq > .main_inner .item_wrap .item .view_more {
    width: 165px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #333;
    border-radius: 30px;
    transition: 0.5s;
}
.faq > .main_inner .item_wrap .item .view_more:hover {
    background-color: #193028;
    color: #fff;
    transition: 0.5s;
}

/* footer */

.footer {
    margin-top: 160px;
    position: relative;
}
.footer > .footer_inner {
    width: 1440px;
    margin: 0 auto;
}

.footer > .footer_inner .footer_01 {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.footer > .footer_inner .footer_01::before {
    content: '';
    width: 100%;
    height: 100px;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
.footer > .footer_inner .footer_01 .left {
    width: 933px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer > .footer_inner .footer_01 .left li {
    opacity: 50%;
    transition: 0.5s;
}
.footer > .footer_inner .footer_01 .left li:hover {
    opacity: 1;
    transition: 0.5s;
}
.footer > .footer_inner .footer_01 .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.footer > .footer_inner .footer_01 .right li > a {
    height: 32px;
    transition: 0.5s;
}
.footer > .footer_inner .footer_01 .right li > a img {
    width: 100%;
    object-fit: cover;
}
.footer > .footer_inner .footer_01 .right li > a:last-child {
    display: none;
}
.footer > .footer_inner .footer_01 .right li:hover a:last-child {
    display: block;
    transition: 0.5s;
}
.footer > .footer_inner .footer_01 .right li:hover a:first-child {
    display: none;
    transition: 0.5s;
}

.footer > .footer_inner .footer_02 {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    position: relative;
}

.footer > .footer_inner .footer_02::before {
    content: '';
    border-bottom: 1px solid #959595;
    width: 1920px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(12%);
}

.footer > .footer_inner .footer_02 .left figure {
    width: 88px;
    height: 85px;
    margin-bottom: 30px;
}

.footer > .footer_inner .footer_02 .left figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer > .footer_inner .footer_02 .left .text {
    font-size: 14px;
}

.footer > .footer_inner .footer_02 .left .text ul {
    display: flex;
    margin-bottom: 15px;
}

.footer > .footer_inner .footer_02 .left .text ul li > b {
    display: block;
    margin-right: 15px;
}

.footer > .footer_inner .footer_02 .left .text > p {
    margin-bottom: 15px;
}

.footer > .footer_inner .footer_02 .left .text > p:last-child {
    margin: 0;
}

.footer > .footer_inner .footer_02 .right {
    display: flex;
    justify-content: space-between;
}

.footer > .footer_inner .footer_02 .right ul {
    width: 124px;
    height: 177px;
    border-right: 1px solid #959595;
    margin-right: 30px;
    padding-right: 30px;
    font-size: 14px;
}
.footer > .footer_inner .footer_02 .right ul li {
    margin-bottom: 15px;
    transition: 0.5s;
}
.footer > .footer_inner .footer_02 .right ul li:hover {
    font-weight: bold;
    color: #333;
    transition: 0.5s;
}


.footer > .footer_inner .footer_03 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
}

.footer > .footer_inner .footer_03 .left {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.footer > .footer_inner .footer_03 .left li {
    border-right: 1px solid #959595;
    padding: 0 15px;
    height: 17px;
    transition: 0.5s;
}
.footer > .footer_inner .footer_03 .left li:hover {
    font-weight: bold;
    color: #333;
    transition: 0.5s;
}
.footer > .footer_inner .footer_03 .left li:first-child {
    padding-left: 0;
}
.footer > .footer_inner .footer_03 .left li:last-child {
    border-right: none;
    padding-right: 0;
}

.footer > .footer_inner .footer_03 .right {
    display: flex;
    font-size: 18px;
}
.footer > .footer_inner .footer_03 .right > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 247px;
    height: 59px;
    border: 1px solid #959595;
    border-radius: 30px 0 0 30px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #959595;
}
.footer > .footer_inner .footer_03 .right > div img {
    width: 25px;
    object-fit: cover;
}
.footer > .footer_inner .footer_03 .right > p {
    width: 87px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    border: 1px solid #193028;
    border-radius: 0 30px 30px 0;
    box-sizing: border-box;
    border-left: none;
    background-color: #193028;
    color: #fff;
}